
@{
    ViewBag.Title = "The Policy Initiative - Search";
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    ViewBag.BodyAttributes = "class=searchPage";
}


<div class="Results search">
    <div class="container">
        <div class="wrap">
            <div class="searchField">
                <div class="titre">Search</div>
                <form>
                    <div class="field">
                        <!-- we have class loading on div field-->
                        <!-- we have class missing on div field-->
                        <input type="text" class="srchinput" placeholder="@ViewBag.key" value="@ViewBag.key" name="keyword" ng-model="keyword" required />
                        <button type="button" class="searchbtn" ng-click="submitSearchPopup()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g transform="translate(-1156 -373)"><g transform="translate(1156 373)" fill="none" stroke="#e75451" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none" /><circle cx="24" cy="24" r="23.5" fill="none" /></g><g transform="translate(1)"><path d="M51.949,282.844l7.77,7.77-7.77,7.77" transform="translate(1128.042 106.656)" fill="none" stroke="#e75451" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M1032.806,389h-15.8" transform="translate(152.991 8.5)" fill="none" stroke="#e75451" stroke-linecap="round" stroke-width="2" /></g></g></svg>
                        </button>
                    </div>
                </form>
            </div>
            @if (ViewBag.count != 0)
            {
                <ul class="list">


                    @foreach (var item in Model)
                    {
                        if (!item.hasArabic)
                        {
                            <li>
                                @if (String.IsNullOrEmpty(item.ExternalLink))
                                {
                                    <a class="Article" href="@Url.Content(item.detailUrl)">
                                        <h2 class="title">@item.title </h2>
                                        @if (item.authors.Count != 0)
                                        {
                                            <div class="author">
                                                by
                                                @{ int comaCount = 0;}
                                                @foreach (var auth in item.authors)
                                                {
                                                    comaCount++;
                                                    <input hidden class="EngBio-@auth.id" value="@Html.Raw(auth.bio)" />
                                                    <div class="author" onclick="openAuthorPopup('@auth.title','EngBio-@auth.id')">
                                                        @if (item.authors.Count > comaCount)
                                                        {<text>@auth.title, </text> }
                                                    else
                                                    {@auth.title}
                                                    </div>


                                                }
                                            </div>
                                        }
                                        @*@if (!String.IsNullOrEmpty(item.authorsList))
                                            {
                                                <div class="author">by <span class="keyword">@item.authorsList</span>

                                            }*@
                                        @if (!String.IsNullOrEmpty(item.smallDescription))
                                        {
                                            <div class="text">
                                                @Html.Raw(item.smallDescription)
                                            </div>
                                        }



                                    </a>
                                }
                                else
                                {
                                    <a class="Article" href="@Url.Content(item.ExternalLink)" target="_blank">
                                        <h2 class="title">@item.title </h2>
                                        @if (item.authors.Count != 0)
                                        {
                                            <div class="author">
                                                by
                                                @{ int comaCount = 0;}
                                                @foreach (var auth in item.authors)
                                                {
                                                    comaCount++;
                                                    <input hidden class="EngBio-@auth.id" value="@Html.Raw(auth.bio)" />
                                                    <div class="author" onclick="openAuthorPopup('@auth.title','EngBio-@auth.id')">
                                                        @if (item.authors.Count > comaCount)
                                                        {<text>@auth.title, </text> }
                                                    else
                                                    {@auth.title}
                                                    </div>


                                                }
                                            </div>
                                        }
                                        @if (!String.IsNullOrEmpty(item.smallDescription))
                                        {
                                            <div class="text">
                                                @Html.Raw(item.smallDescription)
                                            </div>
                                        }



                                    </a>
                                }

                            </li>
                        }
                        else
                        {
                            <li>
                                @if (String.IsNullOrEmpty(item.ExternalLink))
                                {
                                    <a class="Article arabic" href="@Url.Content(item.detailUrl + "?lang=ar")">
                                        <h2 class="title">@item.title </h2>
                                        @if (item.arauthors.Count != 0)
                                        {
                                            <div class="author">
                                                by
                                                @{ int comaCount1 = 0;}
                                                @foreach (var auth in item.arauthors)
                                                {
                                                    comaCount1++;
                                                    <input hidden class="ARBio-@auth.id" value="@Html.Raw(auth.bio)" />
                                                    <div class="author" onclick="openArabicAuthorPopup('@auth.title','@auth.id')">
                                                        @if (item.arauthors.Count > comaCount1)
                                                        {<text>@auth.title, </text>}
                                                    else
                                                    {@auth.title}
                                                    </div>

                                                }
                                            </div>
                                        }
                                        @*@if (!String.IsNullOrEmpty(item.authorsarList))
                                            {
                                                <div class="author">by <span class="keyword">@item.authorsarList</span></div>

                                            }*@
                                        @if (!String.IsNullOrEmpty(item.arabicDesc))
                                        {
                                            <div class="text">
                                                @Html.Raw(item.arabicDesc)
                                            </div>
                                        }


                                    </a>
                                }
                                else
                                {
                                    <a class="Article arabic" href="@Url.Content(item.ExternalLink)" target="_blank">
                                        <h2 class="title">@item.title </h2>
                                        @if (item.arauthors.Count != 0)
                                        {
                                            <div class="author">
                                                by
                                                @{ int comaCount1 = 0;}
                                                @foreach (var auth in item.arauthors)
                                                {
                                                    comaCount1++;
                                                    <input hidden class="ARBio-@auth.id" value="@Html.Raw(auth.bio)" />
                                                    <div class="author" onclick="openArabicAuthorPopup('@auth.title','@auth.id')">
                                                        @if (item.arauthors.Count > comaCount1)
                                                        {<text>@auth.title, </text>}
                                                    else
                                                    {@auth.title}
                                                    </div>

                                                }
                                            </div>
                                        }

                                        @if (!String.IsNullOrEmpty(item.arabicDesc))
                                        {
                                            <div class="text">
                                                @Html.Raw(item.arabicDesc)
                                            </div>
                                        }


                                    </a>
                                }
                            </li>
                        }


                    }



                </ul>
            }
            else
            {
                <ul class="list">
                    <li class="title">No results found</li>
                </ul>
            }

        </div>
    </div>
</div>