@{
    ViewBag.Title = "The Policy Initiative - Initiatives";
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    ViewBag.BodyAttributes = "class='subPage initiativeSubpage'";
}

<div class="Options">
    <div class="container">
        <ul class="items">
            <li><div class="searchBtn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25.961 25.966"><path d="M25.608,22.449l-5.056-5.056a1.216,1.216,0,0,0-.862-.355h-.827a10.543,10.543,0,1,0-1.826,1.826v.827a1.216,1.216,0,0,0,.355.862l5.056,5.056a1.212,1.212,0,0,0,1.719,0L25.6,24.173a1.223,1.223,0,0,0,.005-1.724ZM10.548,17.038a6.491,6.491,0,1,1,6.491-6.491A6.487,6.487,0,0,1,10.548,17.038Z" fill="#070606" /></svg></div></li>
            <li>
                <div class="mailboxBtn"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="30" viewBox="0 0 32.75 29.75"><g transform="translate(-47.25 -297.25)"><g transform="translate(0 10)"><g transform="translate(3.268 -15.052)"><rect width="25" height="25" rx="0.5" transform="translate(44.732 303.052)" fill="none" stroke="#040405" stroke-width="1.5" /></g></g><g transform="translate(-91.847 111.179)"><circle cx="7.5" cy="7.5" r="7.5" transform="translate(156.847 200.821)" fill="#070708" /><path d="M168.47,209.377h-3.013v2.944h-2.234v-2.944h-3v-2.112h3v-2.944h2.234v2.944h3.013Z" fill="#fff" /></g></g></svg></div>
                @{Html.RenderPartial("newsletterPop");}
            </li>
        </ul>
    </div>
</div>

<div class="Description">
    <div class="container">
        @if (!String.IsNullOrEmpty(Model.imgSrc))
        {
            <div class="pic">
                <img src="@Url.Content(Model.imgSrc)" />
                <div class="info">
                    <h2 class="caption">@Model.title</h2>
                </div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.description))
        {
            <div class="text">
                @Html.Raw(Model.description)
            </div>
        }

    </div>
</div>

<div class="itemsList">
    <div class="container">
        <ul class="grid">
            @if (ViewBag.news.Count != null)
            {
                foreach (var item in ViewBag.news)
                {
                    if (!item.hasArabic)
                    {
                        <li class="grid-item">
                            <div class="item englishBox">
                                <div class="top">
                                    @if (!String.IsNullOrEmpty(item.Date))
                                    {
                                        <div class="date">@item.Date</div>
                                    }
                                    <div class="arabic" onclick="arabic(event)">عربي</div>
                                </div>
                                <h2 class="title"><a href="@Url.Content(item.detailUrl+ "?lang=en&src=init")">@item.title</a></h2>
                                @foreach (var sub in item.authors)
                                {
                                    <div class="author" ng-click="openAuthorPopup('@sub.title','@sub.bio')">@sub.title</div>

                                }
                                @if (!String.IsNullOrEmpty(item.smallDescription))
                                {
                                    <div class="text">
                                        <a href="@Url.Content(item.detailUrl+ "?lang=en&src=init")">
                                            @Html.Raw(item.smallDescription) <span class="read">@item.articleTemplate</span>
                                        </a>
                                    </div>
                                }

                            </div>
                            <div class="item arabicBox">
                                <div class="top">
                                    @if (!String.IsNullOrEmpty(item.Date))
                                    {
                                        <div class="date">@item.Date</div>
                                    }
                                    <div class="english" onclick="english(event)">eng</div>
                                </div>
                                <h2 class="title"><a href="@Url.Content(item.detailUrl + "?lang=ar&src=init")">@item.artitle</a></h2>
                                @foreach (var sub in item.arauthors)
                                {
                                    <div class="author" ng-click="openArabicAuthorPopup('@sub.title','@sub.bio')">@sub.title</div>
                                }
                                @if (!String.IsNullOrEmpty(item.arabicDesc))
                                {
                                    <div class="text">
                                        <a href="@Url.Content(item.detailUrl + "?lang=ar&src=init")">
                                            @Html.Raw(item.arabicDesc)
                                            <span class="read">@item.ARarticleTemplate</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </li>

                    }
                    else
                    {
                        <li class="grid-item">
                            <div class="item arabicBox">
                                <div class="top">
                                    @if (!String.IsNullOrEmpty(item.Date))
                                    {
                                        <div class="date">@item.Date</div>
                                    }
                                </div>
                                <h2 class="title"><a href="@Url.Content(item.detailUrl + "?lang=ar&src=init")">@item.artitle</a></h2>
                                @foreach (var sub in item.arauthors)
                                {
                                    <div class="author" ng-click="openArabicAuthorPopup('@sub.title','@sub.bio')">@sub.title</div>
                                }
                                @if (!String.IsNullOrEmpty(item.arabicDesc))
                                {
                                    <div class="text">
                                        <a href="@Url.Content(item.detailUrl + "?lang=ar")">
                                            @Html.Raw(item.arabicDesc)
                                            <span class="read">@item.ARarticleTemplate</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </li>
                    }

                }
            }


        </ul>
    </div>
    @if (ViewBag.settings.showTwitter == true)
    {
        { Html.RenderPartial("twitterBox"); }
    }
</div>


