@model NewsCommunication
@{
    ViewBag.Title = "The Policy Initiative - Article";
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    ViewBag.BodyAttributes = "class=articlePage";


}

    <div class="searchBtn formobile"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25.961 25.966"><path d="M25.608,22.449l-5.056-5.056a1.216,1.216,0,0,0-.862-.355h-.827a10.543,10.543,0,1,0-1.826,1.826v.827a1.216,1.216,0,0,0,.355.862l5.056,5.056a1.212,1.212,0,0,0,1.719,0L25.6,24.173a1.223,1.223,0,0,0,.005-1.724ZM10.548,17.038a6.491,6.491,0,1,1,6.491-6.491A6.487,6.487,0,0,1,10.548,17.038Z" fill="#070606" /></svg></div>


    <div class="Options">
        <div class="container">
            <ul class="items">
                @if (ViewBag.language == "en")
                {
                    <li><a href="@Url.Content(ViewBag.metas.canonicalUrl+"?lang=ar")" class="lang ar">عربي</a></li>
                }
                else
                {
                    <li><a href="@Url.Content(ViewBag.metas.canonicalUrl+"?lang=en")" class="lang">eng</a></li>

                }

                @if (!String.IsNullOrEmpty(Model.fileSrc))
                {
                    <li><a href="@Url.Content(Model.fileSrc)" target="_blank" class="download"><svg xmlns="http://www.w3.org/2000/svg" width="41.7" height="45.196" viewBox="0 0 41.7 45.196"><g transform="translate(-184.338 -119.77)"><path d="M0,0H20.9a4.254,4.254,0,0,1,4.254,4.254V10.24A4.254,4.254,0,0,1,20.9,14.494H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z" transform="translate(185.57 126.891)" fill="#e75451" /><g transform="translate(189.028 130.928)"><path d="M190.622,135.267H188.81v1.886H187.6v-6.409c1.007,0,2.015-.01,3.022-.01A2.268,2.268,0,1,1,190.622,135.267Zm-1.813-1.107h1.813a1.136,1.136,0,1,0,0-2.271H188.81Z" transform="translate(-187.6 -130.734)" fill="#fff" /><path d="M196.907,133.89a3.035,3.035,0,0,1-3.2,3.259h-2.518V130.74H193.7A3.027,3.027,0,0,1,196.907,133.89Zm-4.523,2.1H193.7a2.051,2.051,0,0,0,0-4.1h-1.319Z" transform="translate(-185.078 -130.73)" fill="#fff" /><path d="M195.124,137.145v-6.4h4.6v1.164h-3.4v1.748h3.215v1.118h-3.215v2.371Z" transform="translate(-182.306 -130.726)" fill="#fff" /></g><g transform="translate(185.838 121.27)"><rect width="33.918" height="42.196" rx="3" fill="none" stroke="#0a0a0a" stroke-width="3" /></g><path d="M209.05,148.993H189.638a.705.705,0,0,0-.7.7h0a.706.706,0,0,0,.7.7H209.05a.706.706,0,0,0,.7-.7h0A.705.705,0,0,0,209.05,148.993Z" transform="translate(0.973 8.018)" fill="#040505" /><path d="M209.05,143.156H189.638a.706.706,0,0,0-.7.7h0a.705.705,0,0,0,.7.7H209.05a.705.705,0,0,0,.7-.7h0A.706.706,0,0,0,209.05,143.156Z" transform="translate(0.973 6.33)" fill="#040505" /><path d="M209.05,146.074H189.638a.706.706,0,0,0-.7.7h0a.705.705,0,0,0,.7.7H209.05a.705.705,0,0,0,.7-.7h0A.706.706,0,0,0,209.05,146.074Z" transform="translate(0.973 7.174)" fill="#040505" /><path d="M209.05,140.238H189.638a.705.705,0,0,0-.7.7h0a.706.706,0,0,0,.7.7H209.05a.706.706,0,0,0,.7-.7h0A.705.705,0,0,0,209.05,140.238Z" transform="translate(0.973 5.486)" fill="#040505" /><g transform="translate(215.29 141.589)"><path d="M213.966,138.663h-4.622V127.334a2.4,2.4,0,0,1,2.311-2.487h0a2.4,2.4,0,0,1,2.311,2.487Z" transform="translate(-206.278 -124.847)" fill="#e75451" /><path d="M212.01,141.093l-3.768-5.057a1.5,1.5,0,0,1,1.2-2.4h7.738a1.5,1.5,0,0,1,1.181,2.428l-3.97,5.057A1.5,1.5,0,0,1,212.01,141.093Z" transform="translate(-207.942 -123.852)" fill="#e75451" /></g></g></svg></a></li>

                }
                <li>
                    <ul class="medias">
                        <li><div class="label">share</div></li>
                        <li>
                            @*<div class="addthis-smartlayers addthis-smartlayers-desktop"></div>*@
                            <div class="addthis_inline_share_toolbox"></div>
                        </li>

                    </ul>
                </li>

                <li><div class="searchBtn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25.961 25.966"><path d="M25.608,22.449l-5.056-5.056a1.216,1.216,0,0,0-.862-.355h-.827a10.543,10.543,0,1,0-1.826,1.826v.827a1.216,1.216,0,0,0,.355.862l5.056,5.056a1.212,1.212,0,0,0,1.719,0L25.6,24.173a1.223,1.223,0,0,0,.005-1.724ZM10.548,17.038a6.491,6.491,0,1,1,6.491-6.491A6.487,6.487,0,0,1,10.548,17.038Z" fill="#070606" /></svg></div></li>
                <li>
                    <div class="mailboxBtn"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="30" viewBox="0 0 32.75 29.75"><g transform="translate(-47.25 -297.25)"><g transform="translate(0 10)"><g transform="translate(3.268 -15.052)"><rect width="25" height="25" rx="0.5" transform="translate(44.732 303.052)" fill="none" stroke="#040405" stroke-width="1.5" /></g></g><g transform="translate(-91.847 111.179)"><circle cx="7.5" cy="7.5" r="7.5" transform="translate(156.847 200.821)" fill="#070708" /><path d="M168.47,209.377h-3.013v2.944h-2.234v-2.944h-3v-2.112h3v-2.944h2.234v2.944h3.013Z" fill="#fff" /></g></g></svg></div>
                    @{Html.RenderPartial("newsletterPop");}
                </li>
            </ul>
        </div>
    </div>


<div class="Article @(( ViewBag.language == "ar" || Model.hasArabic == true) ? "arabic" : "") @(( Model.articleTemplateId == 2) ? "video" : "")">
    <div class="container">
        @if (!Model.isPublicEngagement)
        {
            if (Model.articleTemplateId == 4)
            {
                if (!String.IsNullOrEmpty(Model.topimgSrc))
                {
                    <div class="picDiv">
                        <div class="item">
                            <div class="pic"><img src="@Url.Content(Model.topimgSrc)" /></div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            if (!String.IsNullOrEmpty(Model.topimgSrc))
            {
                <div class="picDiv">
                    <div class="item">
                        <div class="pic"><img src="@Url.Content(Model.topimgSrc)" /></div>
                    </div>
                </div>
            }
        }


        @if (!Model.isPublicEngagement)
        {
            if (!String.IsNullOrEmpty(Model.Date))
            {
                <div class="date">@Model.Date</div>
            }


        }
        else
        {
            if (!String.IsNullOrEmpty(Model.Date))
            {
                if (ViewBag.language == "en")
                {
                    <div class="date red">
                        @Model.Date @if (!String.IsNullOrEmpty(Model.publicnewsCategory))
                    {<span class="dash">|</span><span class="categ">@Model.publicnewsCategory</span>}

                    </div>
                }
                else
                {
                    <div class="date red">
                        @Model.Date @if (!String.IsNullOrEmpty(Model.arnewsCategory))
                        {<span class="dash">|</span><span class="categ">@Model.arnewsCategory</span>}
                    </div>
                }

            }
        }
        @if (!String.IsNullOrEmpty(Model.title))
        {
            <h1 class="title">@Model.title </h1>
        }

        @if (!Model.isPublicEngagement)
        {
            if (!String.IsNullOrEmpty(Model.subtitle))
            {
                <h2 class="subtitle">@Model.subtitle </h2>
            }
        }
        else
        {
            <div class="seperator"></div>
        }
        @{int comaCount = 0;}
        @if (Model.articleTemplateId != 4)
        {
            if (!Model.isPublicEngagement)
            {
                foreach (var item in Model.authors)
                {
                    if (ViewBag.language == "en")
                    {
                        comaCount++;
                        <div class="author" ng-click="openAuthorPopup('@item.title','@item.bio')">
                            @if (Model.authors.Count > comaCount)
                            {
                                <text>@item.title, </text>}
                            else
                            {@item.title}
                        </div>

                    }
                    else
                    {
                        comaCount++;
                        <div class="author" ng-click="openArabicAuthorPopup('@item.title','@item.bio')">
                            @if (Model.authors.Count > comaCount)
                            {
                                <text>@item.title, </text>
                            }

                            else
                            {@item.title}
                        </div>
                    }



                }
            }
        }

        @if (!Model.isPublicEngagement)
        {
            <div class="seperator"></div>
            if (Model.articleTemplateId == 2)
            {
                if (!String.IsNullOrEmpty(Model.videoUrl))
                {
                    <input class="videoUrl" value="@Model.videoUrl" hidden />
                    <div class="youTube" style="margin-top: 35px;">

                    </div>
                }

            }

        }


        @if (!String.IsNullOrEmpty(Model.description))
        {
            <div class="text">
                @Html.Raw(Model.description)
            </div>
            <br />
        }
        @if (!Model.isPublicEngagement)
        {
            if (Model.articleTemplateId == 3)
            {
                if (!String.IsNullOrEmpty(Model.audioSrc))
                {

                    <div class="player" style=" direction: ltr;">
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=@Model.audioSrc&color=%23100e10&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

                    </div>
                }
            }


            if (Model.articleTemplateId == 1)
            {

                foreach (var item in Model.arcticlesRepeater)
                {
                    if (item.images.Any())
                    {
                        <div class="picDiv withcaption">

                            <!-- if pic have caption add this class "withcaption "-->
                            @foreach (var sub in item.images)
                            {<div class="item">
                                    @if (ViewBag.language == "en")
                                    {
                                        if (!String.IsNullOrEmpty(sub.caption))
                                        {<div class="pic"><img src="@Url.Content(sub.imgSrc)" alt="@sub.caption" /></div>
                                            <div class="captionPic">@sub.caption</div>

                                        }
                                    }
                                    else
                                    {
                                        if (!String.IsNullOrEmpty(sub.subCaption))
                                        {
                                            <div class="pic"><img src="@Url.Content(sub.imgSrc)" alt="@sub.subCaption" /></div>
                                            <div class="captionPic">@sub.subCaption</div>

                                        }
                                        else
                                        {
                                            if (!String.IsNullOrEmpty(sub.caption))
                                            {
                                                <div class="pic"><img src="@Url.Content(sub.imgSrc)" alt="@sub.caption" /></div>
                                                <div class="captionPic">@sub.caption</div>

                                            }
                                            else
                                            {
                                                <div class="pic"><img src="@Url.Content(sub.imgSrc)" alt="@item.title" /></div>

                                            }
                                        }
                                    }

                                </div>
                            }



                        </div>
                    }
                    if (ViewBag.language == "en")
                    {
                        if (!String.IsNullOrEmpty(item.Description))
                        {
                            <div class="text">
                                @Html.Raw(item.Description)
                            </div>
                        }
                        else
                        { <br /><br />}
                    }
                    else
                    {
                        if (!String.IsNullOrEmpty(item.ArabicDescription))
                        {
                            <div class="text">
                                @Html.Raw(item.ArabicDescription)
                            </div>
                        }
                        else
                        { <br /><br />}
                    }

                    if (!String.IsNullOrEmpty(item.imgSrc))
                    {
                        <div class="picDiv withcaption">
                            <!-- if pic have caption add this class "withcaption "-->
                            @if (ViewBag.language == "en")
                            {
                                <div class="item">
                                    @if (!String.IsNullOrEmpty(item.captionImage))
                                    {
                                        <div class="pic"><img src="@Url.Content(item.imgSrc)" alt="@item.captionImage" /></div>

                                        <div class="captionPic">@item.captionImage</div>

                                    }
                                    else
                                    {
                                        <div class="pic"><img src="@Url.Content(item.imgSrc)" alt="@item.title" /></div>
                                    }




                                </div>
                            }
                            else
                            {
                                if (!String.IsNullOrEmpty(item.arabicCaptionImage))
                                {
                                    <div class="pic"><img src="@Url.Content(item.imgSrc)" alt="@item.arabicCaptionImage" /></div>

                                    <div class="captionPic">@item.arabicCaptionImage</div>

                                }
                                else
                                {
                                    <div class="pic"><img src="@Url.Content(item.imgSrc)" alt="@item.title" /></div>
                                }
                            }

                        </div>
                    }
                }




                if (!String.IsNullOrEmpty(Model.note))
                {
                    <div class="note">
                        @Html.Raw(Model.note)
                    </div>
                }
            }
        }
    </div>

</div>
@if (!Model.isPublicEngagement)
{
    <div class="swipersholder article animation-element">
        @if (Model.relatedinitiatives != null)
        {
            if (Model.relatedinitiatives.Count != 0)
            {
                <div class="itemSwiper">
                    <div class="container">
                        <div class="top">
                            <h2 class="name">Related Output</h2>
                            @if (Model.newsCategory != null)
                            {
                                <a ng-click="searchByCategory()" class="all">view all</a>
                                <input hidden value="@Model.newsCategory" class="init" />
                            }
                        </div>
                        <div class="wrap">
                            <div class="screen">
                                <ul class="swiper-wrapper">
                                    @foreach (var item in Model.relatedinitiatives)
                                    {
                                        <li class="swiper-slide">
                                            @if (item.hasArabic != true)
                                            {
                                                <div class="item englishBox">
                                                    <div class="top">
                                                        @if (!String.IsNullOrEmpty(item.Date))
                                                        {
                                                            <div class="date">@item.Date</div>

                                                        }
                                                        <div class="arabic" onclick="arabic1(event)">عربي</div>
                                                    </div>
                                                    <a href="@Url.Content(item.detailUrl)">
                                                        @if (!String.IsNullOrEmpty(item.title))
                                                        {
                                                            <h3 class="title">@item.title</h3>
                                                        }


                                                        @{ int comaCount1 = 0;}
                                                        <div class="author">
                                                            @foreach (var sub in item.authors)
                                                            {
                                                                comaCount1++;
                                                                if (item.authors.Count > comaCount1)
                                                                {<text>@sub.title, </text> }
                                                            else
                                                            {@sub.title}

                                                    }
                                                        </div>

                                                        @if (!String.IsNullOrEmpty(item.smallDescription))
                                                        {
                                                            <div class="text">
                                                                @Html.Raw(item.smallDescription) <span class="more">@item.articleTemplate</span>
                                                            </div>
                                                        }
                                                    </a>

                                                </div>
                                                <div class="item  arabicBox">
                                                    <div class="top">
                                                        @if (!String.IsNullOrEmpty(item.Date))
                                                        {
                                                            <div class="date">@item.Date</div>

                                                        }
                                                        <div class="english" onclick="english1(event)">eng</div>
                                                    </div>
                                                    <a href="@Url.Content(item.detailUrl + "?lang=ar")">
                                                        @if (!String.IsNullOrEmpty(item.artitle))
                                                        {
                                                            <h3 class="title">@item.artitle</h3>
                                                        }
                                                        else
                                                        {
                                                            <h3 class="title">@item.title</h3>
                                                        }
                                                        @{int comaCount2 = 0;}
                                                        <div class="author">
                                                            @foreach (var sub in item.authors)
                                                            {
                                                                comaCount2++;
                                                                if (item.authors.Count > comaCount2)
                                                                {<text>@sub.artitle, </text> }
                                                            else
                                                            {@sub.artitle}

                                                    }
                                                        </div>
                                                        @if (!String.IsNullOrEmpty(item.arsmallDescription))
                                                        {
                                                            <div class="text">

                                                                @Html.Raw(item.arsmallDescription) <span class="more">@item.ARarticleTemplate</span>

                                                            </div>
                                                        }
                                                    </a>

                                                </div>
                                            }
                                            else
                                            {

                                                <a class="item arabicBox" href="@Url.Content(item.detailUrl + "?lang=ar&src=init")">
                                                    @if (!String.IsNullOrEmpty(item.Date))
                                                    {
                                                        <div class="date">@item.Date</div>

                                                    }
                                                    @if (!String.IsNullOrEmpty(item.title))
                                                    {
                                                        <h3 class="title">@item.title</h3>
                                                    }
                                                    @{ int comaCount1 = 0;}
                                                    <div class="author">
                                                        @foreach (var sub in item.authors)
                                                        {
                                                            comaCount1++;
                                                            if (item.authors.Count > comaCount1)
                                                            {<text>@sub.artitle, </text> }
                                                        else
                                                        {@sub.artitle}

                                                }
                                                    </div>

                                                    @if (!String.IsNullOrEmpty(item.arsmallDescription))
                                                    {
                                                        <div class="text">
                                                            @Html.Raw(item.arsmallDescription) <span class="more">@item.ARarticleTemplate</span>
                                                        </div>
                                                    }


                                                </a>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                        <div class="prev"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g transform="translate(-1253 -648)"><g transform="translate(97 275)"><g transform="translate(1156 373)" fill="none" stroke="#080808" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none" /><circle cx="24" cy="24" r="23.5" fill="none" /></g><g transform="translate(1)"><path d="M51.949,282.844l7.77,7.77-7.77,7.77" transform="translate(1128.042 106.656)" fill="none" stroke="#080808" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M1032.806,389h-15.8" transform="translate(152.991 8.5)" fill="none" stroke="#080808" stroke-linecap="round" stroke-width="2" /></g></g></g></svg></div>
                        <div class="next"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g transform="translate(-1253 -648)"><g transform="translate(97 275)"><g transform="translate(1156 373)" fill="none" stroke="#080808" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none" /><circle cx="24" cy="24" r="23.5" fill="none" /></g><g transform="translate(1)"><path d="M51.949,282.844l7.77,7.77-7.77,7.77" transform="translate(1128.042 106.656)" fill="none" stroke="#080808" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M1032.806,389h-15.8" transform="translate(152.991 8.5)" fill="none" stroke="#080808" stroke-linecap="round" stroke-width="2" /></g></g></g></svg></div>
                    </div>
                </div>
            }

        }
        @if (Model.relatedarticles.Count != 0)
        {

            if (Model.articleTemplateId == 1 || Model.articleTemplateId == 3)
            {
                <div class="itemSwiper itemsList">
                    <div class="container">
                        <div class="top">
                            <h2 class="name">From the same author</h2>
                            <a ng-click="searchByAuthor()" class="all">view all</a>
                            <input hidden value="@Model.auth" class="authorList" />
                        </div>
                        <div class="wrap">
                            <div class="screen">
                                <ul class="swiper-wrapper">
                                    @foreach (var item in Model.relatedarticles)
                                    {
                                        <li class="swiper-slide">
                                            @if (item.hasArabic != true)
                                            {
                                                <div class="item englishBox">
                                                    <div class="top">
                                                        @if (!String.IsNullOrEmpty(item.Date))
                                                        {
                                                            <div class="date">@item.Date</div>

                                                        }
                                                        <div class="arabic" onclick="arabic1(event)">عربي</div>
                                                    </div>
                                                    <a href="@Url.Content(item.detailUrl)">
                                                        @if (!String.IsNullOrEmpty(item.title))
                                                        {
                                                            <h3 class="title">@item.title</h3>
                                                        }
                                                        @{int comaCount1 = 0;}
                                                        <div class="author">
                                                            @foreach (var sub in item.authors)
                                                            {
                                                                comaCount1++;
                                                                if (item.authors.Count > comaCount1)
                                                                {<text>@sub.title, </text> }
                                                            else
                                                            {@sub.title}

                                                    }
                                                        </div>
                                                        @if (!String.IsNullOrEmpty(item.smallDescription))
                                                        {
                                                            <div class="text">
                                                                @Html.Raw(item.smallDescription) <span class="more">@item.articleTemplate</span>
                                                            </div>
                                                        }
                                                    </a>

                                                </div>


                                                <div class="item  arabicBox">
                                                    <div class="top">
                                                        @if (!String.IsNullOrEmpty(item.Date))
                                                        {
                                                            <div class="date">@item.Date</div>

                                                        }
                                                        <div class="english" onclick="english1(event)">eng</div>
                                                    </div>
                                                    <a href="@Url.Content(item.detailUrl + "?lang=ar")">
                                                        @if (!String.IsNullOrEmpty(item.artitle))
                                                        {
                                                            <h3 class="title">@item.artitle</h3>
                                                        }
                                                        else
                                                        {
                                                            <h3 class="title">@item.title</h3>
                                                        }
                                                        @{int comaCount2 = 0;}
                                                        <div class="author">
                                                            @foreach (var sub in item.authors)
                                                            {
                                                                comaCount2++;
                                                                if (item.authors.Count > comaCount2)
                                                                {<text>@sub.artitle, </text> }
                                                            else
                                                            {@sub.artitle}

                                                    }
                                                        </div>
                                                        @if (!String.IsNullOrEmpty(item.arsmallDescription))
                                                        {
                                                            <div class="text">

                                                                @Html.Raw(item.arsmallDescription) <span class="more">@item.ARarticleTemplate</span>

                                                            </div>
                                                        }
                                                    </a>

                                                </div>
                                            }
                                            else
                                            { <a class="item arabicBox" href="@Url.Content(item.detailUrl + "?lang=ar")">
                                                    @if (!String.IsNullOrEmpty(item.Date))
                                                    {
                                                        <div class="date">@item.Date</div>

                                                    }
                                                    @if (!String.IsNullOrEmpty(item.title))
                                                    {
                                                        <h3 class="title">@item.title</h3>
                                                    }
                                                    @{ int comaCount1 = 0;}
                                                    <div class="author">
                                                        @foreach (var sub in item.authors)
                                                        {
                                                            comaCount1++;
                                                            if (item.authors.Count > comaCount1)
                                                            {<text>@sub.artitle, </text> }
                                                        else
                                                        {@sub.artitle}
                                                }
                                                    </div>
                                                    @if (!String.IsNullOrEmpty(item.arsmallDescription))
                                                    {
                                                        <div class="text">
                                                            @Html.Raw(item.arsmallDescription) <span class="more">@item.ARarticleTemplate</span>
                                                        </div>
                                                    }


                                                </a>
                                            }

                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="prev"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g transform="translate(-1253 -648)"><g transform="translate(97 275)"><g transform="translate(1156 373)" fill="none" stroke="#080808" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none" /><circle cx="24" cy="24" r="23.5" fill="none" /></g><g transform="translate(1)"><path d="M51.949,282.844l7.77,7.77-7.77,7.77" transform="translate(1128.042 106.656)" fill="none" stroke="#080808" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M1032.806,389h-15.8" transform="translate(152.991 8.5)" fill="none" stroke="#080808" stroke-linecap="round" stroke-width="2" /></g></g></g></svg></div>
                        <div class="next"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g transform="translate(-1253 -648)"><g transform="translate(97 275)"><g transform="translate(1156 373)" fill="none" stroke="#080808" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none" /><circle cx="24" cy="24" r="23.5" fill="none" /></g><g transform="translate(1)"><path d="M51.949,282.844l7.77,7.77-7.77,7.77" transform="translate(1128.042 106.656)" fill="none" stroke="#080808" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M1032.806,389h-15.8" transform="translate(152.991 8.5)" fill="none" stroke="#080808" stroke-linecap="round" stroke-width="2" /></g></g></g></svg></div>
                    </div>
                </div>
            }
        }
        @if (Model.relatedperiodicals.Count != 0)
        {
            <div class="itemSwiper itemsList">
                <div class="container">
                    <div class="top">
                        @if (Model.articleTemplateId == 3)
                        {
                            <h2 class="name"> More from podcasts</h2>
                        }
                        else if (Model.articleTemplateId == 4)
                        {
                            <h2 class="name"> More from data visualization</h2>
                        }
                        else if (Model.articleTemplateId == 2)
                        {
                            <h2 class="name"> More from videos</h2>
                        }
                        else
                        {
                            <h2 class="name">More periodicals</h2>
                        }


                        <a ng-click="searchByTemplate()" class="all">view all</a>

                        <input hidden class="articleTemplate" value="@Model.articleTemplateId" />
                        <input hidden class="articleTemplateTitle" value="@Model.templatetitle" />

                    </div>
                    <div class="wrap">
                        <div class="screen">
                            <ul class="swiper-wrapper">
                                @foreach (var item in Model.relatedperiodicals)
                                {
                                    <li class="swiper-slide">
                                        @if (item.hasArabic != true)
                                        {
                                            <div class="item englishBox">
                                                <div class="top">
                                                    @if (!String.IsNullOrEmpty(item.Date))
                                                    {
                                                        <div class="date">@item.Date</div>

                                                    }
                                                    <div class="arabic" onclick="arabic1(event)">عربي</div>
                                                </div>
                                                <a href="@Url.Content(item.detailUrl)">
                                                    @if (!String.IsNullOrEmpty(item.title))
                                                    {
                                                        <h3 class="title">@item.title</h3>
                                                    }
                                                    @{ int comaCount1 = 0;}
                                                    <div class="author">
                                                        @foreach (var sub in item.authors)
                                                        {
                                                            comaCount1++;
                                                            if (item.authors.Count > comaCount1)
                                                            {<text>@sub.title, </text> }
                                                        else
                                                        {@sub.title}

                                                }
                                                    </div>
                                                    @if (!String.IsNullOrEmpty(item.smallDescription))
                                                    {
                                                        <div class="text">
                                                            @Html.Raw(item.smallDescription) <span class="more">@item.articleTemplate</span>
                                                        </div>
                                                    }
                                                </a>

                                            </div>
                                            <div class="item arabicBox">
                                                <div class="top">
                                                    @if (!String.IsNullOrEmpty(item.Date))
                                                    {
                                                        <div class="date">@item.Date</div>

                                                    }
                                                    <div class="english" onclick="english1(event)">eng</div>
                                                </div>
                                                <a href="@Url.Content(item.detailUrl + "?lang=ar")">
                                                    @if (!String.IsNullOrEmpty(item.artitle))
                                                    {
                                                        <h3 class="title">@item.artitle</h3>
                                                    }
                                                    else
                                                    {
                                                        <h3 class="title">@item.title</h3>
                                                    }
                                                    @{int comaCount2 = 0;}
                                                    <div class="author">
                                                        @foreach (var sub in item.authors)
                                                        {
                                                            comaCount2++;
                                                            if (item.authors.Count > comaCount2)
                                                            {<text>@sub.artitle, </text> }
                                                        else
                                                        {@sub.artitle}

                                                }
                                                    </div>
                                                    @if (!String.IsNullOrEmpty(item.arsmallDescription))
                                                    {
                                                        <div class="text">

                                                            @Html.Raw(item.arsmallDescription) <span class="more">@item.ARarticleTemplate</span>

                                                        </div>
                                                    }
                                                </a>

                                            </div>
                                        }
                                        else
                                        {

                                            <a class="item arabicBox" href="@Url.Content(item.detailUrl + "?lang=ar")">
                                                @if (!String.IsNullOrEmpty(item.Date))
                                                {
                                                    <div class="date">@item.Date</div>

                                                }
                                                @if (!String.IsNullOrEmpty(item.title))
                                                {
                                                    <h3 class="title">@item.title</h3>
                                                }
                                                @{ int comaCount1 = 0;}
                                                <div class="author">
                                                    @foreach (var sub in item.authors)
                                                    {
                                                        comaCount1++;
                                                        if (item.authors.Count > comaCount1)
                                                        {<text>@sub.artitle, </text> }
                                                    else
                                                    {@sub.artitle}

                                            }
                                                </div>
                                                @if (!String.IsNullOrEmpty(item.arsmallDescription))
                                                {
                                                    <div class="text">
                                                        @Html.Raw(item.arsmallDescription) <span class="more">@item.ARarticleTemplate</span>
                                                    </div>
                                                }


                                            </a>
                                        }

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="prev"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g transform="translate(-1253 -648)"><g transform="translate(97 275)"><g transform="translate(1156 373)" fill="none" stroke="#080808" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none" /><circle cx="24" cy="24" r="23.5" fill="none" /></g><g transform="translate(1)"><path d="M51.949,282.844l7.77,7.77-7.77,7.77" transform="translate(1128.042 106.656)" fill="none" stroke="#080808" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M1032.806,389h-15.8" transform="translate(152.991 8.5)" fill="none" stroke="#080808" stroke-linecap="round" stroke-width="2" /></g></g></g></svg></div>
                    <div class="next"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g transform="translate(-1253 -648)"><g transform="translate(97 275)"><g transform="translate(1156 373)" fill="none" stroke="#080808" stroke-width="1"><circle cx="24" cy="24" r="24" stroke="none" /><circle cx="24" cy="24" r="23.5" fill="none" /></g><g transform="translate(1)"><path d="M51.949,282.844l7.77,7.77-7.77,7.77" transform="translate(1128.042 106.656)" fill="none" stroke="#080808" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M1032.806,389h-15.8" transform="translate(152.991 8.5)" fill="none" stroke="#080808" stroke-linecap="round" stroke-width="2" /></g></g></g></svg></div>
                </div>
            </div>
        }



        @if (ViewBag.settings.showTwitter == true)
        {
            { Html.RenderPartial("twitterBox"); }
        }
    </div>
}